.content {
  width: 100%;
  display: flex;
  flex-direction: column;

  .menu-title {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    display: flex;
    align-items: center;
    padding: 12px 0;
    justify-content: space-between;
    cursor: pointer;

    .title {
      color: var(--dark, #1c1c1c);
      font-feature-settings:
        "clig" off,
        "liga" off;

      /* Title-H6 */
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .filterRadio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .item {
      display: flex;
      gap: 10px;
      align-items: center;
      width: 100%;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
      cursor: pointer;

      padding: 9px 11px 8px 0px;

      color: var(--gray-600, #505050);
      font-feature-settings:
        "clig" off,
        "liga" off;

      /* Text-base */
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      
    }
  }
}
